.getintouch{	
	a{
		display: inline-block;
		font-family: $lato;
		font-size: 20px;
		color: $white;
		text-transform: uppercase;
		padding: 25px 45px;
		text-align: center;
		width: auto;
		background: #ff8100;
		&:hover{
			background: $black;
		}
	}
}

.read-more{	
	a{
		margin-top: 25px;
		display: inline-block;
		font-family: $lato;
		font-size: 16px;
		color: #ff8100;
		text-transform: uppercase;
		padding: 15px 0;
		text-align: center;
		width: 150px;
		background: transparent;
		border: solid 1px #ff8100;
		&:hover{
			background: #ff8100;
			color: #fff;
		}
	}
}

.reply{	
	a{
		margin-top: 25px;
		display: inline-block;
		font-family: $lato;
		font-size: 16px;
		color: #ff8100;
		text-transform: uppercase;
		padding: 15px 0;
		text-align: center;
		width: 150px;
		background: transparent;
		border: solid 1px #ff8100;
		&:hover{
			background: #ff8100;
			color: #fff;
		}
	}
}

.comment-respond{
	.form-submit{
		.submit{
			margin-top: 25px;
			display: inline-block;
			font-family: $lato;
			font-size: 16px;
			color: #ff8100;
			text-transform: uppercase;
			padding: 15px 0;
			text-align: center;
			width: 150px;
			background: transparent;
			border: solid 1px #ff8100;
			border-radius: none;
			&:hover{
				background: #ff8100;
				color: #fff;
			}
		}
	}
}

#excerpt{
	.kindle, .paperback, .hardcover{
		display: inline-block;
		margin: 10px 5px;
		a{
			background: transparent;
			border: 2px solid #ffffff;
			width: 250px;
			&:hover{
				border-color: $yellow;
				color: $yellow;
				-webkit-transition: color 0.25s ease-in;
				-moz-transition: color 0.25s ease-in;
				-ms-transition: color 0.25s ease-in;
				-o-transition: color 0.25s ease-in;
				transition: color 0.25s ease-in;
			}
		}
	}
}

.sbmt-button{
	@media(max-width: 400px){
		float: none;
		margin: 0 auto;
	}
	.sbmt{
		display: inline-block;
		width: 250px;
    	font-family: $lato;
    	font-size: 24px;
    	color: #fff;
    	text-transform: uppercase;
    	padding: 15px 0;
    	text-align: center;
		float: right;
		position: relative;
		background: #ff8100;
		border-style: none;
		&:hover{
			background: #333;
		}
		@media(max-width: 425px){
			float: none;
			text-align: center;
			margin: 0 auto;
			width: auto;
			padding: 25px 65px;
		}
	}
	.ajax-loader{
		float: left;
		@media(max-width: $screen-sm-max){
			float: none;
		}
	}
}