// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$lightgray: #b6b6b6;
$black: #333333;
$yellow: #feeb3a;
$white: #ffffff;
$lightblack: #333;
$darkblack: #212121;

$lato: 'Lato', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$bitter: 'Bitter', serif;