#book {
	padding:100px 0 60px;
	background: url(../images/book-excerpt-bg.png) no-repeat 0 0; 
	@media (max-width: $screen-xs-max){
		text-align: center;
    } 
	.text-cont-wrapper{
		margin: 0 15% 17% 0%;
	}
}

#otherbook{
	background: url(../images/otherbook-bg.png) #54627a no-repeat 86% 30%;
	padding:100px 0;
	@media (max-width: $screen-xs-max){
		text-align: center;
    } 
	.text-cont-wrapper{
		margin: 23% 3% 17% 11%;
	}

	h2.booktitle{
		font-weight: normal;
		color: #000;
	}

	.book-store {
		p {
			padding:0 0 10px;
			font-size: 16px;
		    display: block;
		    margin-right: 20px;
		    margin-top: 12px;
		    float: left;
		    @media (max-width: $screen-xs-max){
				float: none;
    		}
		}
		img{
			&:hover{
				-webkit-transform: scale(1.05,1.07);
				-webkit-transition-timing-function: ease-out;
				-webkit-transition-duration: .25s;
				-moz-transform: scale(1.05,1.07);
				-moz-transition-timing-function: ease-out;
				-moz-transition-duration: .25s;
			}
		}
		a.amazon{
			padding-top: 10px;
		}
		a {
			display:inline-block;
			margin:0 10px 0 0;
			vertical-align:middle;
		}
	}
} 