#get-in-touch{
	background: url('../../dist/images/footer-bg.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	padding: 50px 0;
	@media (max-width: 425px){
		background: url('../../dist/images/footer-bg.jpg') no-repeat top left 25%;
		background-size: cover;
	}
	.contact-cont{
		h2{
			margin: 0 0 25px;
			color: #f3e5ed!important;
		}
		.address-phone{
			display: inline-block;
			width: 100%;
			.address{
				display: inline-block;
				width: auto;
				vertical-align: top;
				line-height: 1.75em;
			}
			.phone{
				display: inline-block;
				width: auto;
				margin-left: 25px;
				line-height: 1.75em;
			}
		}
		.social-media{
			margin-top: 35px;
			@media screen and (max-width:468px){
				text-align: center;
			}
			ul{
				padding: 0;
				li{
					display: inline-block;
					margin: 5px 10px;
					text-align: center;
					padding: 15px 0;
					a{
						font-family: Fontawesome;
						font-size: 35px;
						color: #ffffff;
						&:hover{
							color: $yellow;
						}
						.fa-facebook-square, .fa-instagram{
							font-style: normal;
						}
					}
				}
			}
		}
	}
}




.item{
	.wpcf7-form-control-wrap{
		input, textarea{
			width: 100%;
			padding: 15px;
			margin: 5px 0;
			color: #000;
		}
	}
}

