#hireme{
	padding: 50px 0;
	background: #31889a;
	.hireme-wrap{
		display: inline-block;
		color: #fff;
	}
	.getintouch{
		position: relative;
	    display: block;
	    margin-top: 35px;
	    width: auto;
	}
}