#quote{
	background: url(../../dist/images/quote-bg.png) no-repeat;
	background-size: cover;
	padding: 55px 15px;
	@media (max-width: 425px){
		background: url(../../dist/images/quote-bg.png) no-repeat 11%;
	}
	.quote-wrap{
		.quote-cont{
			text-align: center;
			h2{
				color: #c26da0;
			}
			h2:after{
				margin: 0 auto;
			    left: 0;
			    right: 0;
			}
		}
	}
}