#skills{
	background: url('../../dist/images/skills-bg.png') no-repeat center right #fff;
	background-size: contain;	
	padding: 70px 0;
	.skills-wrap{
		display: inline-block;
		position:relative;
		.skills-set{
			display: inline-block;
			margin-top: 35px;
			position: relative;
			.individual-skill{
				display: inline-block;
				position: relative;
				margin: 0 auto;
				padding: 0;
				width: 100%;
				.skill-list{
					display: inline-block;
				    width: 250px;
				    margin: 16px;
				    text-align: center;
				    img{
				    	margin: 0 auto;
				    }
				}
			}
		}
	}
}